.dis-block {
  display: block; }

.collapsing {
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }

.cs1 {
  position: relative; }

.cs2 {
  position: absolute;
  top: -20%;
  left: -20%;
  display: block;
  width: 140%;
  height: 140%;
  margin: 0;
  padding: 0;
  background: white;
  border: 0;
  opacity: 0; }

.mrg-0-auto {
  margin: 0 auto; }

/*responsive screen*/
@media screen and (max-width: 767px) {
  .row {
    width: 95% !important; }

  .pg-head {
    position: relative; }
    .pg-head #myNavbar {
      position: absolute;
      background-color: #efededed;
      z-index: 99;
      top: 50px; }
    .pg-head .no-nav li {
      width: 100% !important;
      border-bottom: 1px solid #ed823970;
      float: left; }
    .pg-head .no-head {
      height: 50px; }
      .pg-head .no-head button {
        display: block !important;
        outline: none; }
        .pg-head .no-head button div {
          width: 1em;
          height: 1px;
          background-color: #ed8239;
          margin: 4px 0; }

  .no-about {
    padding-top: 1.5em !important; }
    .no-about .about-text {
      margin-top: unset !important; } }
@media screen and (min-width: 767px) {
  .pg-head .collapse {
    display: block !important; } }
@media screen and (max-width: 500px) {
  .landing-page .no-banner .banner-head {
    padding: 15px !important; }
  .landing-page .no-banner a, .landing-page .no-banner div {
    width: 100%; }
    .landing-page .no-banner a img, .landing-page .no-banner div img {
      width: 20% !important; } }
/*responsive screen*/
/*login*/
.no-login-body {
  min-height: 100vh;
  position: absolute;
  width: 100%;
  background: lightblue url("../img/photo4.jpg") no-repeat fixed center !important; }
  .no-login-body a:hover {
    cursor: default; }
  .no-login-body .no-login-box {
    float: unset;
    padding: 35px;
    margin: 8em auto;
    background: white;
    border-radius: 22px; }
    .no-login-body .no-login-box div {
      margin-bottom: 15px;
      font-size: 1.2em; }
    .no-login-body .no-login-box input.form-control {
      width: 100%;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 3px #ddd;
      border-radius: 4px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 12px;
      padding-bottom: 12px; }
    .no-login-body .no-login-box .form-control-feedback {
      top: 7px; }

/**login*/
/*header*/
.pg-head button {
  display: none;
  position: absolute;
  right: 1.2em;
  background-color: unset;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: black;
  padding: unset !important; }

/*header*/
/*landing page*/
.lead {
  font-weight: 400;
  color: #ed8239;
  font-size: 1.3em;
  line-height: 1.5em; }

.no-box-shadow {
  box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2); }

.m-b-5 {
  margin-bottom: 5px; }

.m-t-25 {
  margin-top: 25px !important; }

.pd-10 {
  padding: 10px; }

.pd-25 {
  padding: 25px; }

.p-10em {
  padding: 10em; }

.p-t-10em {
  padding-top: 10em; }

.fr {
  float: right; }

.fl {
  float: left; }

.center-content {
  margin: 0 auto; }

.landing-page {
  width: 100%; }
  .landing-page .row {
    width: 65%;
    margin: 0 auto; }
  .landing-page .row > div {
    width: 100%; }
  .landing-page .no-head {
    border-bottom: 2px solid #ed8239; }
    .landing-page .no-head a img {
      min-width: 110px; }
    .landing-page .no-head h1 {
      font-size: 45px; }
  .landing-page .no-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .landing-page .no-nav li {
    width: 20%;
    float: left;
    text-transform: uppercase;
    display: block;
    color: #ed8239;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none; }
  .landing-page .no-nav li:hover {
    color: #6e6d6d; }
  .landing-page .no-banner {
    text-align: center;
    line-height: 1.5em; }
    .landing-page .no-banner .banner-head {
      color: #6e6d6d; }
      .landing-page .no-banner .banner-head h1 {
        color: #ed8239;
        width: 100%;
        font-weight: bold; }
  .landing-page .no-subscribe {
    margin: 40px 0 40px 0; }
    .landing-page .no-subscribe .box {
      width: 70%;
      height: 100%;
      background: #efeded;
      margin: 0 auto;
      border-top: 2px solid #d2d6de;
      box-shadow: 0 1px 1px rgba(12, 59, 117, 0.8);
      text-align: center; }
      .landing-page .no-subscribe .box span {
        font-weight: bold;
        font-size: 1.8em;
        color: #6e6d6d; }
    .landing-page .no-subscribe input[type=text], .landing-page .no-subscribe select {
      padding: 10px;
      margin: 16px 0;
      display: inline-block;
      border: 0;
      box-shadow: 0px 0px 2px #00000094;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      box-sizing: border-box;
      width: 60%; }
    .landing-page .no-subscribe input[type=submit] {
      background-color: #ed8239;
      color: white;
      padding: 10px;
      margin: 16px 0;
      display: inline-block;
      box-shadow: 0px 0px 2px #00000094;
      border: 0;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
      box-sizing: border-box; }
    .landing-page .no-subscribe input[type=submit]:hover {
      background-color: #6e6d6d;
      color: white; }
  .landing-page .no-body {
    text-align: center;
    margin-bottom: 35px; }
  .landing-page .no-footer #myFooter {
    background-color: #fbfafa;
    color: white;
    box-shadow: 0px -2px 11px #e2e0e0; }
  .landing-page .no-footer #myFooter .footer-copyright {
    background-color: #383737;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center; }
  .landing-page .no-footer #myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc; }
  .landing-page .no-footer #myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7; }
  .landing-page .no-footer #myFooter h5 {
    font-size: 18px;
    color: #6e6d6d;
    font-weight: bold;
    margin-top: 30px; }
  .landing-page .no-footer #myFooter a {
    color: #ed8239;
    text-decoration: none; }
  .landing-page .no-footer #myFooter a:hover, .landing-page .no-footer #myFooter a:focus {
    text-decoration: none;
    color: #6e6d6d; }
  .landing-page .no-footer #myFooter .myCols {
    text-align: center; }
  .landing-page .no-footer #myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px; }
  .landing-page .no-footer #myFooter .social-networks a {
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #6e6d6d;
    padding: 10px; }
  .landing-page .no-footer #myFooter .social-networks a i {
    display: inline-block;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); }
  .landing-page .no-footer #myFooter .social-networks a i:hover {
    color: #ed8239;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5); }
  @media screen and (max-width: 767px) {
    .landing-page .no-footer #myFooter {
      text-align: center; } }

/*landing page*/
/*ABout us*/
.no-about {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  .no-about .about-text button {
    font-size: 1em; }
  .no-about h3 {
    margin-bottom: 1.04em;
    font-size: 1.2em;
    line-height: 1.5em; }
  .no-about .modal-footer {
    padding: unset;
    border: unset; }
    .no-about .modal-footer button {
      background-color: unset;
      border: none;
      padding: 10px 10px 0px 0px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer; }
  .no-about .modal-content {
    width: 76%;
    margin: 0 auto;
    border-radius: 22px; }
  .no-about .no-login-body {
    font-size: 0.8em !important;
    min-height: unset;
    position: unset;
    width: unset;
    background: unset !important; }
    .no-about .no-login-body .no-login-box {
      width: 100%;
      padding: unset;
      margin: unset;
      background: unset;
      border-radius: unset; }
      .no-about .no-login-body .no-login-box a {
        color: #3c8dbc; }
  .no-about .modal-header {
    border-bottom: unset; }
  .no-about .modal-header .close {
    padding: unset;
    margin: unset; }

/*About us*/

/*# sourceMappingURL=customStyle.css.map */
